/* Responsive */


/*  SECTIONS  */

body {
    background: #000;
}

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}


/*  COLUMN SETUP  */

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child {
    margin-left: 0;
}


/*  GROUPING  */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}


/*  GRID OF SIX  */

.span66 {
    width: 100%;
}

.span56 {
    width: 83.06%;
}

.span46 {
    width: 66.13%;
}

.span36 {
    width: 49.2%;
}

.span26 {
    width: 32.26%;
}

.span16 {
    width: 15.33%;
}


/* Typography */

* {
    font-family: 'Work Sans', sans-serif;
    color: #fff;
}


/* Main Styling */

#main-screen {
    padding: 220px 0px;
    border: 3px solid;
    background-color: #009999;
    overflow: hidden;
    background: #1e51a8;
}

#main-screen img {
    width: 100%;
    height: 100px;
}

#test {
    position: relative;
    /*    top: -10px;*/
    text-align: center;
    margin: 0px auto;
}


/*
#test2 {
    height: 100%;
    margin: auto 0;
}*/

#image {
    padding: 0 0 20px 0;
}


/*Some JS stuff*/

#container {
    width: 80%;
    height: 225px;
}

#image {
    vertical-align: middle;
}

#image img {
    height: 100%;
    width: 100%
}

#sgrip,
#egrip {
    width: 32px;
    height: 32px;
}

#sgrip {
    bottom: -35px;
    left: 50%;
    background-image: url(img/girthhandle.png);
}

#egrip {
    right: -65px;
    top: 40%;
    background-image: url(img/lengthhandle.png);
}

.myButton {
	background-color:#44c767;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:19px 31px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}


@media screen and (max-width: 700px) {
    .col {
        margin: 0 10% 4% 10%;
    }
    .span16,
    .span26,
    .span36,
    .span46,
    .span56,
    .span66 {
        width: 100%;
    }
}
