/* move from / to  */
@-webkit-keyframes moveToLeft {
  from { }
  to {
    -webkit-transform: translateX(-100%); } }

@keyframes moveToLeft {
  from { }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%); } }

@keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }

/*Applying animations to pages*/
.ng-enter {
  animation: moveFromRight 0.6s ease both;
  z-index: 8888; }

.ng-leave {
  animation: moveToLeft 0.6s ease both;
  z-index: 9999; }

/*  SECTIONS  */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}


/*  COLUMN SETUP  */

.col {
    display: block;
    float: left;
}

.col:first-child {
    margin-left: 0;
}


/*  GROUPING  */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}


/*  GRID OF NINE  */

.span_9_of_9 {
    width: 100%;
}

.span_8_of_9 {
    width: 88.71%;
}

.span_7_of_9 {
    width: 77.42%;
}

.span_6_of_9 {
    width: 66.13%;
}

.span_5_of_9 {
    width: 54.84%;
}

.span_4_of_9 {
    width: 43.55%;
}

.span_3_of_9 {
    width: 32.26%;
}

.span_2_of_9 {
    width: 20.97%;
}

.span_1_of_9 {
    width: 9.688%;
}


/*  GO FULL WIDTH BELOW 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
    .span_1_of_9,
    .span_2_of_9,
    .span_3_of_9,
    .span_4_of_9,
    .span_5_of_9,
    .span_6_of_9,
    .span_7_of_9,
    .span_8_of_9,
    .span_9_of_9 {
        width: 100%;
    }
}


/* Typography */

*,
h1,
h2,
h3,
h4,
p,
a {
    font-family: 'Work Sans', sans-serif;
    color: #000;
}

h1 {
    font-size: 50pt;
    font-weight: 600;
    /*    text-transform: uppercase;*/
    color: rgb(44, 194, 216);
}

h2 {
    font-size: 40pt;
    font-weight: 600;
}

h3 {
    font-size: 17pt;

}

p {
    font-size: 14pt;
    color: #fff;
    font-weight: 500;
}


/* INTRO SCREEN */

body {
    background-color: rgb(21, 22, 24);
    background-image: url(../../../media/condomStartOpacity.png);
    background-size: 300px 260px;
    background-repeat: repeat;
    margin: auto;
    overflow-x: hidden;
}

.intro-controls {
    width: 42%;
}

.group {
    margin: 0 auto;
}

/* make our pages be full width and full height */


/* positioned absolutely so that the pages can overlap each other as they enter and leave */

.page {
    bottom: 0;
    padding-top: 10%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    /*    overflow: hidden;*/
}

.page a {
    margin-top: 50px;
}


/* PAGES (specific colors for each page)
============================================================================= */

.start_btn {
/*    position: relative;*/
/*      left: 70%;*/

    margin: 2%;
    padding: 0 15px;
/*    line-height: 1.8;*/
    appearance: none;
    box-shadow: none;
    border-radius: 4pt;
    color: #fff;
    background-color: rgb(44, 194, 216);
    border: none;
}

.start_btn h3 {
    color: #fff;
}

.start_btn:focus {
    outline: none
}

.page-construction {
    background: yellow;
}

/*Penis construction stage*/

#build-stage {
    padding: 220px 0px;
    border: 3px solid;
    border-color: #fff;
    background: #1e51a8;
    overflow: hidden;
}

#measurements {
    position: relative;
    text-align: center;
    color: #fff;
    padding-bottom: 10px;
    margin: 0px auto;
}

#container {
    width: 80%;
    height: 225px;
}

#image {
    vertical-align: middle;
    padding: 0 0 30px 0;
}

#image img {
    height: 100%;
    width: 100%
}

#sgrip,
#egrip {
    width: 32px;
    height: 32px;
}

#sgrip {
    bottom: -35px;
    left: 50%;
    background-image: url(../../../media/UI/girthhandle.png);
}

#egrip {
    right: -65px;
    top: 40%;
    background-image: url(../../../media/UI/lengthhandle.png);
}
