@media (max-width: 540px) {
    .group {
        margin-left: 5%;
        margin-right: 5%;
    }
    .intro-controls {
        max-width: 300px;
        width: 100%;
    }
    .intro-title {
        left: 0px;
        position: relative;
    }
    a {
        font-size: 16pt;
        text-align: left;
    }
    body {
        background-size: 207px 180px;
    }
    button {
        left: -29%;
        margin-bottom: 50px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        position: relative;
    }
    h1 {
        font-size: 55pt;
        line-height: 100%;
        margin: 0px;
        max-width: 420px;
        text-align: left;
        width: 100%;
    }
    h3 {
        text-align: center;
    }
    p {
        font-size: 16pt;
        text-align: left;
    }
}

@media (min-width: 541px) and (max-width: 607px) {
    .group {
        margin-left: 5%;
        margin-right: 5%;
    }
    .intro-controls {
        max-width: 300px;
        width: 100%;
    }
    .intro-title {
        left: 0px;
        position: relative;
    }
    a {
        font-size: 16pt;
        text-align: left;
    }
    body {
        background-size: 207px 180px;
    }
    button {
        left: -29%;
        margin-bottom: 50px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        position: relative;
    }
    h1 {
        font-size: 55pt;
        line-height: 100%;
        margin: 0px;
        max-width: 420px;
        text-align: left;
        width: 100%;
    }
    h3 {
        text-align: center;
    }
    p {
        font-size: 16pt;
        text-align: left;
    }
}

@media (min-width: 608px) and (max-width: 735px) {
    .intro-controls {
        margin-left: auto;
        margin-right: auto;
        max-width: 420px;
        width: 100%;
    }
    .intro-title {
        margin-left: 5%;
        margin-right: 5%;
    }
    a {
        font-size: 16pt;
        text-align: center;
    }
    body {
        background-size: 241.5px 210px;
    }
    button {
        left: 0%;
        margin: 0px;
        position: relative;
    }
    h1 {
        font-size: 55pt;
        line-height: 100%;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        max-width: 420px;
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    p {
        font-size: 16pt;
        text-align: center;
    }
}

@media (min-width: 736px) and (max-width: 828px) {
    .group {
        margin-left: auto;
        margin-right: auto;
    }
    .intro-controls {
        max-width: 420px;
        width: 100%;
    }
    a {
        font-size: 16pt;
        text-align: center;
    }
    body {
        background-size: 207px 180px;
    }
    button {
        left: 0%;
        margin: 0px;
        position: relative;
    }
    h1 {
        font-size: 55pt;
        line-height: 100%;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        max-width: 420px;
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    p {
        font-size: 16pt;
        text-align: center;
    }
}

@media (min-width: 829px) and (max-width: 920px) {
    .group {
        margin-left: auto;
        margin-right: auto;
    }
    .intro-controls {
        max-width: 400px;
        width: 42%;
    }
    a {
        font-size: 17pt;
    }
    body {
        background-size: 300px 260px;
    }
    button {
        margin: 2%;
    }
    h1 {
        font-size: 60pt;
        margin-bottom: 1%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
    }
    p {
        font-size: 17pt;
    }
}

@media (min-width: 921px) and (max-width: 1180px) {
    .group {
        margin-left: auto;
        margin-right: auto;
    }
    .intro-controls {
        max-width: 400px;
        width: 42%;
    }
    a {
        font-size: 17pt;
    }
    body {
        background-size: 300px 260px;
    }
    button {
        margin: 2%;
    }
    h1 {
        font-size: 60pt;
        margin-bottom: 1%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
    }
    p {
        font-size: 17pt;
    }
}

@media (min-width: 1181px) and (max-width: 1210px) {
    .group {
        margin-left: auto;
        margin-right: auto;
    }
    .intro-controls {
        max-width: 400px;
        width: 42%;
    }
    a {
        font-size: 17pt;
    }
    body {
        background-size: 300px 260px;
    }
    button {
        margin: 2%;
    }
    h1 {
        font-size: 60pt;
        margin-bottom: 1%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
    }
    p {
        font-size: 17pt;
    }
}

@media (min-width: 1211px) and (max-width: 1374px) {
    .group {
        margin-left: auto;
        margin-right: auto;
    }
    .intro-controls {
        max-width: 400px;
        width: 42%;
    }
    a {
        font-size: 17pt;
    }
    body {
        background-size: 300px 260px;
    }
    button {
        margin: 2%;
    }
    h1 {
        font-size: 60pt;
        margin-bottom: 1%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
    }
    p {
        font-size: 17pt;
    }
}

@media (min-width: 1375px) and (max-width: 1500px) {
    .group {
        margin-left: auto;
        margin-right: auto;
    }
    .intro-controls {
        max-width: 400px;
        width: 42%;
    }
    a {
        font-size: 17pt;
    }
    body {
        background-size: 300px 260px;
    }
    button {
        margin: 2%;
    }
    h1 {
        font-size: 60pt;
        margin-bottom: 1%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
    }
    p {
        font-size: 17pt;
    }
}

@media (min-width: 1501px) {
    .group {
        margin-left: auto;
        margin-right: auto;
    }
    .intro-controls {
        max-width: 400px;
        width: 42%;
    }
    a {
        font-size: 17pt;
    }
    body {
        background-size: 300px 260px;
    }
    button {
        margin: 2%;
    }
    h1 {
        font-size: 60pt;
        margin-bottom: 1%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
    }
    p {
        font-size: 17pt;
    }
}

.col {
    display: block;
    float: left;
    margin-left: 0px;
    width: 100%;
}

.group {
    clear: both;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
    zoom: 1;
}

.page {
    bottom: 0px;
    padding-top: 100px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 100%;
}

a {
    background-color: transparent;
    font-weight: 500;
    margin-top: 50px;
    text-decoration: none;
}

body {
    background-color: rgb(21, 22, 24);
    background-image: url(https://dg777.github.io/LYC-Condom-Challenge/media/condomStartOpacity.png);
    background-repeat: repeat;
    font-family: CalibreWeb-Regular, sans-serif;
    margin: auto;
    overflow-x: hidden;
}

button {
    -webkit-appearance: none;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;
    background-color: rgb(44, 194, 216);
    border-radius: 4pt;
    border-style: none;
    box-shadow: none;
    color: rgb(255, 255, 255);
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    overflow: visible;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    text-transform: none;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease;
}

h1 {
    color: rgb(44, 194, 216);
    font-family: CalibreWeb-Semibold, sans-serif;
    font-weight: 600;
}

h3 {
    font-family: CalibreWeb-Regular, sans-serif;
    font-size: 17pt;
}

html {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

p {
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration: none;
}

#results p, .video_thumbnail p {
    color: #000;
}
