/*  SECTIONS  */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}


/*  COLUMN SETUP  */

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child {
    margin-left: 0;
}


/*  GROUPING  */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}


/*  GRID OF NINE  */

.span_9_of_9 {
    width: 100%;
}

.span_8_of_9 {
    width: 88.71%;
}

.span_7_of_9 {
    width: 77.42%;
}

.span_6_of_9 {
    width: 66.13%;
}

.span_5_of_9 {
    width: 54.84%;
}

.span_4_of_9 {
    width: 43.55%;
}

.span_3_of_9 {
    width: 32.26%;
}

.span_2_of_9 {
    width: 20.97%;
}

.span_1_of_9 {
    width: 9.688%;
}


/*  GO FULL WIDTH BELOW 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
    .span_1_of_9,
    .span_2_of_9,
    .span_3_of_9,
    .span_4_of_9,
    .span_5_of_9,
    .span_6_of_9,
    .span_7_of_9,
    .span_8_of_9,
    .span_9_of_9 {
        width: 100%;
    }
}


/* Typography */

* {
    font-family: 'Work Sans', sans-serif;
    color: #000;
}

h1 {
    font-size: 40pt;
    text-transform: uppercase;
}

h4 {
    font-size: 15pt;
    text-transform: uppercase;
}


/* INTRO SCREEN */

body {
    background-image: url(../img/condomStart.png);
    background-repeat: repeat;
}

.slogan {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 10%;
    left: 0;
    width: 40%;
    height: 10%;
    text-align: center;
}

.arrow {
    position: absolute;
    margin: auto;
    top: 65%;
    right: 0;
    bottom: 0;
    left: 70%;
}
